.navbar {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  border-bottom: $accent-color-2 3px solid;
  opacity: 0.8;

  .navbar-brand {
    font-size: 1rem;
    margin-top: 1px;
    //text-indent: -9999px;
    img {
      padding: 0;
      margin: 0;
      overflow: visible;
    }
  }

  .navbar-nav {
    .nav-item {
      transition: all 3s ease-in-out;
      .nav-link {
        color: $text-color-light;
      }
    }
    .nav-item:active,
    .nav-item:hover,
    .nav-item:focus {
      //text-transform: uppercase;
      .nav-link {
        color: $accent-color-1;
      }
    }
  }
}
