#testimonial-section {
    background-color: darken($electron-blue, 20%);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: $text-color-light;
    font-weight: 100;

    .slider {
      margin: 0;
      padding: 0;
      color: $text-color-light;
    }

    h2 {
      color: $title-color-light;
    }
    
    p.lead {
      color: $text-color-light;
    }

    p {
      color: lighten($text-color-light, 20%);
    }

    .blockquote-footer {
      color: $text-color-light; 
    }
  }